  * {
    font-family: "Noto Sans", sans-serif;
  }
 
 .checkbox {
    width: 18px;
    height: 18px;
  }

  table {
    text-align: left;
    float: left;
    table-layout: fixed;
    bottom: 200px;
  }
  
  th, td {
    padding: 5px;
  }
  
  th {
    text-align: left;
  }
  

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .side-window {
    width: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    border-left: 5px solid #333;
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
    height: 98%;
    float: right;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative; /* added property */
    top: 6px; /* added property */
  }
  
  .checkmark.maintained::before {
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
    position: relative;
    left: 6px; /* increase the value of left property */
    top: 2px; /* decrease the value of top property */
  }
  
  
  .checkmark.not-maintained {
    opacity: 0.5;
  }
  
  .apply-btn {
    position:fixed;
    font-size: 30px;
    bottom:10px;
    height:50px;
    width:100%;
    background:rgb(118, 156, 88);
  }

  .center {
    margon: auto;
    width: 50%;
    padding: 10px;
  }
